/* david-libre-regular - latin_hebrew */
@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 400;
  src: url('david-libre-v4-latin_hebrew-regular.eot'); /* IE9 Compat Modes */
  src: local('David Libre'), local('DavidLibre-Regular'),
       url('david-libre-v4-latin_hebrew-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('david-libre-v4-latin_hebrew-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('david-libre-v4-latin_hebrew-regular.woff') format('woff'), /* Modern Browsers */
       url('david-libre-v4-latin_hebrew-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('david-libre-v4-latin_hebrew-regular.svg#DavidLibre') format('svg'); /* Legacy iOS */
}
/* david-libre-500 - latin_hebrew */
@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 500;
  src: url('david-libre-v4-latin_hebrew-500.eot'); /* IE9 Compat Modes */
  src: local('David Libre Medium'), local('DavidLibre-Medium'),
       url('david-libre-v4-latin_hebrew-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('david-libre-v4-latin_hebrew-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('david-libre-v4-latin_hebrew-500.woff') format('woff'), /* Modern Browsers */
       url('david-libre-v4-latin_hebrew-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('david-libre-v4-latin_hebrew-500.svg#DavidLibre') format('svg'); /* Legacy iOS */
}
/* david-libre-700 - latin_hebrew */
@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 700;
  src: url('david-libre-v4-latin_hebrew-700.eot'); /* IE9 Compat Modes */
  src: local('David Libre Bold'), local('DavidLibre-Bold'),
       url('david-libre-v4-latin_hebrew-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('david-libre-v4-latin_hebrew-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('david-libre-v4-latin_hebrew-700.woff') format('woff'), /* Modern Browsers */
       url('david-libre-v4-latin_hebrew-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('david-libre-v4-latin_hebrew-700.svg#DavidLibre') format('svg'); /* Legacy iOS */
}