/* heebo-300 - latin_hebrew */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  src: url('heebo-v7-latin_hebrew-300.eot'); /* IE9 Compat Modes */
  src: local('Heebo Light'), local('Heebo-Light'),
       url('heebo-v7-latin_hebrew-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('heebo-v7-latin_hebrew-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('heebo-v7-latin_hebrew-300.woff') format('woff'), /* Modern Browsers */
       url('heebo-v7-latin_hebrew-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('heebo-v7-latin_hebrew-300.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-regular - latin_hebrew */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: url('heebo-v7-latin_hebrew-regular.eot'); /* IE9 Compat Modes */
  src: local('Heebo'), local('Heebo-Regular'),
       url('heebo-v7-latin_hebrew-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('heebo-v7-latin_hebrew-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('heebo-v7-latin_hebrew-regular.woff') format('woff'), /* Modern Browsers */
       url('heebo-v7-latin_hebrew-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('heebo-v7-latin_hebrew-regular.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-500 - latin_hebrew */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  src: url('heebo-v7-latin_hebrew-500.eot'); /* IE9 Compat Modes */
  src: local('Heebo Medium'), local('Heebo-Medium'),
       url('heebo-v7-latin_hebrew-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('heebo-v7-latin_hebrew-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('heebo-v7-latin_hebrew-500.woff') format('woff'), /* Modern Browsers */
       url('heebo-v7-latin_hebrew-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('heebo-v7-latin_hebrew-500.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-700 - latin_hebrew */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  src: url('heebo-v7-latin_hebrew-700.eot'); /* IE9 Compat Modes */
  src: local('Heebo Bold'), local('Heebo-Bold'),
       url('heebo-v7-latin_hebrew-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('heebo-v7-latin_hebrew-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('heebo-v7-latin_hebrew-700.woff') format('woff'), /* Modern Browsers */
       url('heebo-v7-latin_hebrew-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('heebo-v7-latin_hebrew-700.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-800 - latin_hebrew */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 800;
  src: url('heebo-v7-latin_hebrew-800.eot'); /* IE9 Compat Modes */
  src: local('Heebo ExtraBold'), local('Heebo-ExtraBold'),
       url('heebo-v7-latin_hebrew-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('heebo-v7-latin_hebrew-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('heebo-v7-latin_hebrew-800.woff') format('woff'), /* Modern Browsers */
       url('heebo-v7-latin_hebrew-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('heebo-v7-latin_hebrew-800.svg#Heebo') format('svg'); /* Legacy iOS */
}