/* assistant-regular - latin_hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  src: url('assistant-v4-latin_hebrew-regular.eot'); /* IE9 Compat Modes */
  src: local('Assistant'), local('Assistant-Regular'),
       url('assistant-v4-latin_hebrew-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assistant-v4-latin_hebrew-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assistant-v4-latin_hebrew-regular.woff') format('woff'), /* Modern Browsers */
       url('assistant-v4-latin_hebrew-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assistant-v4-latin_hebrew-regular.svg#Assistant') format('svg'); /* Legacy iOS */
}
/* assistant-300 - latin_hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  src: url('assistant-v4-latin_hebrew-300.eot'); /* IE9 Compat Modes */
  src: local('Assistant Light'), local('Assistant-Light'),
       url('assistant-v4-latin_hebrew-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assistant-v4-latin_hebrew-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('assistant-v4-latin_hebrew-300.woff') format('woff'), /* Modern Browsers */
       url('assistant-v4-latin_hebrew-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assistant-v4-latin_hebrew-300.svg#Assistant') format('svg'); /* Legacy iOS */
}
/* assistant-600 - latin_hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  src: url('assistant-v4-latin_hebrew-600.eot'); /* IE9 Compat Modes */
  src: local('Assistant SemiBold'), local('Assistant-SemiBold'),
       url('assistant-v4-latin_hebrew-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assistant-v4-latin_hebrew-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('assistant-v4-latin_hebrew-600.woff') format('woff'), /* Modern Browsers */
       url('assistant-v4-latin_hebrew-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assistant-v4-latin_hebrew-600.svg#Assistant') format('svg'); /* Legacy iOS */
}
